@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
    --text-primary: rgb(242, 241, 244);
    --text-secondary: rgb(35, 35, 157);
    --bg-primary: rgb(35, 35, 35);
    --bg-secondary: rgb(242, 241, 244);
    --bg-tertiary: rgb(255, 255, 255);
    --accent: rgb(35, 35, 157);
}

body {
    background-color: rgb(35, 35, 35);
    color: rgb(242, 241, 244);
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 145%;
}

:focus-visible {
    outline: none !important;
    outline-color: rgb(35, 35, 157);
}