@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
    --text-primary: rgb(242, 241, 244);
    --text-secondary: rgba(242, 241, 244, 0.5);
    --bg-primary: rgb(35, 35, 35);
    --bg-secondary: rgba(255, 255, 255, 0.08);
    --accent: rgb(35, 35, 157);
}

body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 145%;
}

:focus,
:focus-visible {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    outline-color: var(--accent);
}